@font-face {
    font-family: 'Merriweather';
    src: url("fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url("fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url("fonts/Inter-Bold.ttf");
    font-weight: 700;
}



* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

html {
    background-color: rgb(69, 87, 119);
}

body {
    display: contents;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 48, 102);
}

.container {
   width: 100vw;
   margin: 0 auto;
}

.header {
    width: 80vw;
    background-color: inherit;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  

}

.logo-api{
    background-image: url('LogoAPI.svg');
    background-repeat: no-repeat;
    width: 200px;
    height: 20px;

}

.search-container{
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    background-color: inherit;
    font-size: 20px;
    border: 2px solid rgba(153, 219, 245, 0.918);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(153, 219, 245, 0.918);
    outline: none;
    /*margin-bottom: 20px;*/
    position: relative;


}

.search { 
    padding-left: 5px;
    background-color: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    color: rgba(153, 219, 245, 0.918);


}

.search-clever {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 5px;
    width: 15px;
    height: 15px;
    color: rgba(153, 219, 245, 0.918);
    opacity: 0.3;
    

}

.search-clever:hover {
    opacity: 1;
}

.search-clever:before, .search-clever:after {
    position: absolute;
    left: 15px;
    content: '';
    height: 15px;
    width: 2px;
    background-color: rgba(153, 219, 245, 0.918);
}

.search-clever:before {
    transform: rotate(45deg);
}


 .search-clever:after {
     transform: rotate(-45deg);
 }


.main {
    margin: 5px;
    
}


.posters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
}

.poster {
    width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 48, 102, 0.1);
    margin: 10px;
    border-radius: 15px;
   
}

.poster:hover {
  cursor: pointer;
  background-color: rgb(17, 48, 102, 0.3);

}

.poster-cover {
    margin-top: 15px;
    min-height: 350px;
    width: 250px;
    border-radius: 15px;
    
    text-align: center;
    

}

.poster-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;

}

.poster-title, 
.poster-about {
    font-family: 'Merriweather';
    font-size: 20px;
    color: white;
    text-align: center;

}

.poster-about:hover {
    color: rgb(236, 112, 10);

}

.poster-overview {
    font-family: 'Inter';
    padding: 5px;
    font-size: 12px;
    line-height: 2;
    color: white;
    text-align: center;
    background-color: rgb(17, 48, 102);
    display: none;
}

.view {
    display: block;
}



.poster-rating {
    font-size: 20px;
    text-align: center;
    padding: 0;
    color: rgb(236, 112, 10);
    width: 35px;
    height: 35px;
    border: 1px solid rgb(17, 48, 102);
    background-color:  rgb(17, 48, 102);
    border-radius: 10px;

}

.rating-average--green {
    border: 2px solid green;
}

.rating-average--orange {
    border: 2px solid orange;
}


.rating-average--red {
    border: 2px solid red;
}




.footer {
    background-color: inherit;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

.github {
    width: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.RS {
    background-image: url('rss.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10vh;
    height: 50%;
    cursor: pointer;
    transition: 0.5s;
           
}


.RS:hover {
    
    
}

.text_footer{
    font-size: 30px;
    color: white;
}

.footer_link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.footer_link:hover {
    color: rgb(69, 87, 119);
   
}
